<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="example-1">
            <div class="user" v-for="user in arrUser" v-if="user.isActive">{{ user.mail }}
            </div>
            <div class="">
                <p v-for="(value, key) in scores">{{ key }}: {{ value }}</p>
            </div>
            <ul>
                <li v-for="item in items">
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.detail }}</p>
                </li>
            </ul>
        </div>
        <style>
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            ul li {
                width: 25%;
                padding: 20px;
                border: 1px solid #000;
                display: inline-block;
                margin-bottom: 30px;
            }
        </style>
    </body>
    <script src="../main.js"></script>
</html>





